.main {
    display: flex;
    flex-direction: column;
    &__description {
        & p {
            line-height: 18px;
            padding: 16px;
            color: $colorText;
        }
    }
    &__button {
        cursor: pointer;
        @include flexbleCenter(center, center);
        margin-bottom: 15px;
    }
    &__service-img {
        width: 100%;
        height: auto;
    }
}
