.main {
    display: flex;
    flex-direction: column;
    &__description {
        width: 50%;
        & p {
            line-height: 18px;
            padding: 16px;
            color: $colorText;
        }
    }
    &__decription-text-more {
        display: none;
    }
    &__button {
        margin-left: 10px;
        cursor: pointer;
        @include flexbleCenter(center, center);
        margin-bottom: 15px;
    }
    &__service-img {
        width: 100%;
        height: auto;
    }
    @media screen and (width >=768px) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media screen and (width <=768px) {
        flex-direction: column;
        justify-content: space-between;
        &__description {
            width: 100%;
            & p {
                line-height: 18px;
                padding: 16px;
                color: $colorText;
            }
        }
    }
}
