.prices {
    &__item {
        margin-top: 16px;
        width: 260px;
        font-size: 14px;
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-radius: 6px;
        &:first-child {
            margin-left: 16px;
        }
    }
    &__conditions {
        margin-bottom: 16px;
    }
    &__conditions-title {
        color: $titleColor;
        margin-bottom: 6px;
    }
    &__order {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__order-button {
        display: flex;
        align-items: center;
        background-color: #ff3e79;
        color: #fff;
        padding: 8px 12px;
        border-radius: 16px;
        cursor: pointer;
    }
    &__order-title {
        margin-right: 17px;
    }
    &__descriptions {
        padding: 16px;
        margin-bottom: 16px;
    }
    &__descriptions-button {
        text-align: left;
    }
    &__descriptions-text {
        margin-bottom: 20px;
        color: $colorText;
        font-size: 14px;
    }
    &__descriptions-button-img {
        margin-left: 5px;
    }
}

.prices-desktop {
    padding: 24px;
    @media screen and (width <=768px) {
        display: none !important;
    }
    &__column-items {
        background: #fff;
        border-radius: 6px;
        padding: 0 10px;
    }
    &__column-item {
        border-bottom: 1px solid $border;
        padding: 0 20px;
        display: grid;
        grid-template-columns: 1fr 150px 150px 150px;
        column-gap: 5px;
        height: 60px;
        align-items: center;
        &:last-child {
            border-bottom: none;
        }
    }
    &__button-order {
        background-color: #ff3e79;
        padding: 8px 12px;
        border-radius: 16px;
        & span {
            margin-right: 10px;
            color: #fff;
            font-weight: 600;
        }
    }
}
