.repair-device {
    &__desktop {
        display: none;
    }
    &__slider {
        height: 228px;
        display: flex;
        align-items: center;
        @media screen and (width >=768px) {
            display: none;
        }
    }
    @media screen and (width >=768px) {
        &__desktop {
            display: block;
            padding: 16px;
        }
        &__desktop-cards {
            display: grid !important;
            grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
            gap: 20px;
        }
        &__item:first-child {
            margin: 0 !important;
        }
    }
    &__item {
        height: 160px;
        width: 240px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border: 1px solid $border;
        padding: 16px;
        border-radius: 6px;
        &:first-child {
            margin-left: 16px;
        }
        &:last-child {
            margin-right: 16px;
        }
    }
    &__item-button {
        cursor: pointer;
        align-self: flex-end;
    }
    &__button-show-item {
        display: flex;
        align-items: center;
        margin-top: 24px;
    }
    &__item-none {
        display: none !important;
    }
    @media screen and (width >=1050px) {
        &__none-item-other {
            display: flex !important;
        }
    }
    @media screen and (width >=1120px) {
        &__none-item-other {
            display: none !important;
        }
    }
    @media screen and (width >=1320px) {
        &__none-item-other {
            display: flex !important;
        }
    }
}
